body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid {
    display: grid;
    height: 50vh;
    gap: 10px;
    grid-template: 
        [header-start] "header header header header" 1fr [header-end]
        [content-start] "content content content nav" 2fr [content-end]
        [footer-start] "footer footer footer footer" 1fr [footer-end] / 1fr 1fr 1fr 1fr
    ;
    
}
  
.header {
    background-color: #2ecc71;
    grid-area: header;
}

.content {
    background-color: #3498db;
    grid-area: content;
}

.nav {
    background-color: #8e44ad;
    grid-area: nav;
}

.footer {
    background-color: #f39c12;
    grid-area: footer;
}