.box {
    background: peru;
    width: 200px;
    height: 200px;
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* Главная ось */
    justify-content: space-around;
    /* Перпендикулярная ось */
    align-items: center;
    height: 100vh;
}