%categoryTitle {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
}

%btn {
    text-decoration: none;
    color: inherit;
    border: $border;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 99px;
    transition: background-color 0.2s linear, color 0.2s linear;
    &:hover {
        background-color: black;
        color: white;
    }
}
