$minIphone: 500px;
$maxIphone: 600px;
$minTablet: $maxIphone + 1;
$maxTablet: 840px;

@mixin responsive($device) {
    @if $device == 'iphone' {
        @media screen and (min-width: $minIphone) and (max-width: $maxIphone){
            @content;
        }
    } @else if $device == 'tablet' {
        @media screen and (min-width: $minTablet) and (max-width: $maxTablet){
            @content;
        }
    } @else if $device == 'iphone-l' {
        @media screen and (min-width: $minIphone) and (max-width: $maxIphone)  and (orientation: landscape){
            @content;
        }
    } @else if $device == 'ipad-l' {
        @media screen and (min-width: $minTablet) and (max-width: $maxTablet) and (orientation: landscape){
            @content;
        }
    }
}