@import "_variables";

h2 {
  color: $bg;
}

.box {
  margin-top: 20px;
  
  &:hover{
    background-color: green;
  }

  h2 {
    &:hover {
      color: red;
    }
    color: blue;
  }

  button {
    color: red;
  }
}


