@import "reset";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  margin-top: 50px; 
}

header {
  display: grid !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0px 110px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  h1 {
    place-self: center center;
    font-size: 38px;
    font-weight: 500;
    font-family: "Yrsa";
    display: flex;
    div {
      transform: rotate(-15deg);
      margin: 0 -3px;
    }
  }
  span {
    justify-self: end;
  }
  nav {
    ul {
      display: flex;
      li:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(100vh - 50px);
  .hero__image {
    background-image: url("https://source.unsplash.com/random");
    background-size: 100%;
    background-position: center center;
  }
  .hero__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-family: "Yrsa";
      font-size: 52px;
      text-align: center;
      font-weight: 500;
      width: 60%;
      margin-bottom: 40px;
    }
    span {
      font-size: 12px;
    }
  }
}

.banner {
  background-color: #EFCB56;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-family: "Yrsa";
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  p {
    font-family: "Yrsa";
    font-weight: 400;
    text-align: center;
    width: 60%;
    font-size: 32px;
    margin-bottom: 50px;
  }
  span {
    font-size: 12px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50vh;
  .gallery__item {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
    cursor: pointer;
    overflow: hidden;
    &:first-child, 
    &:nth-child(5), 
    &:nth-child(7), 
    &:nth-child(10){
      grid-column-start: span 2;
    }
    &:hover {
      filter: blur(50px);
    }
  }
}

a {
  text-decoration: none;
  color: $orange;
  font-weight: 600;
}  